packaging
ninja
vllm
torch
torchvision
diffusers
transformers
tokenizers
accelerate
safetensors
opencv-python
numpy
imageio
imageio-ffmpeg
einops
loguru
sgl-kernel
qtorch
ftfy
easydict
gradio
aiohttp
pydantic
